In [1]:
import pandas as pd
from collections import Counter

In [2]:
df_game = pd.read_csv('csvs/game.csv')[['match_id','game_id','game_nbr','score_w','score_l','w_team_id','l_team_id','skill_lvl']]
df_game['game_id'] = [int(x[1:]) for x in df_game.game_id]
df_game['match_id'] = [int(x[1:]) for x in df_game.match_id]
df_game = df_game.sort_values(['match_id','game_id']).reset_index(drop=True)
print('GAME:\n ')
df_game.head(2)

GAME:

   match_id  game_id  game_nbr  score_w  score_l w_team_id l_team_id skill_lvl
0         1        1         1       12       10        T2        T1       Pro
1         1        2         2       11        7        T1        T2       Pro

In [3]:
df_rally = pd.read_csv('csvs/rally.csv')
df_rally = df_rally[[
    'match_id', 'game_id', 'rally_id', 'point_nbr', 'srv_team_id',
    'rtrn_team_id', 'w_team_id', 'to_ind', 'to_team_id', 'ending_type'
]]
df_rally['match_id'] = [int(x[1:]) for x in df_rally.match_id]
df_rally['game_id'] = [int(x[1:]) for x in df_rally.game_id]
df_rally['rally_id'] = [int(x[1:]) for x in df_rally.rally_id]
df_rally = df_rally.sort_values(
    ['match_id', 'game_id', 'rally_id', 'point_nbr']).reset_index(drop=True)
print('RALLY:\n')
df_rally.head(2)

RALLY:

,match_id,game_id,rally_id,point_nbr,srv_team_id,rtrn_team_id,w_team_id,to_ind,to_team_id,ending_type
0,1,1,1,1,T1,T2,T2,N,NaN,Other
1,1,1,2,2,T2,T1,T2,N,NaN,Winner

In [4]:
df_numrallys = df_rally[['game_id','point_nbr']].groupby(['game_id'],axis=0).max()
print(f"min # rallies: {int(df_numrallys.min())}")
print(f"avg # rallies: {float(df_numrallys.mean().round(1))}")
print(f"med # rallies: {int(df_numrallys.median())}")
print(f"max # rallies: {int(df_numrallys.max())}")

min # rallies: 20
avg # rallies: 47.5
med # rallies: 48
max # rallies: 71

In [5]:
numtos = []
numrallys = []
for i in range(1, 1 + len(df_game)):
    one_game = df_rally[df_rally.game_id == i]
    todict = list(Counter(one_game.to_ind).items())
    if len(todict) == 1:
        numtos.append(0)
    else:
        numtos.append(todict[1][1])
    numrallys.append(int(one_game.point_nbr.max()))

In [6]:
df_metrx = pd.DataFrame({'game_id':list(range(1,1+len(df_game.game_id))),'timeouts':numtos,'rallys':numrallys})
df_metrx['avg_rallies_noto'] = round(df_metrx.rallys / (1 + df_metrx.timeouts), 1)
print('per game -> total # timeouts taken, total # rallies played, and avg # of rallies between timeouts:')
print('(showing 5 at random)')
df_metrx

per game -> total # timeouts taken, total # rallies played, and avg # of rallies between timeouts:
(showing 5 at random)

    game_id  timeouts  rallys  avg_rallies_noto
0         1         4      63              12.6
1         2         3      54              13.5
2         3         1      38              19.0
3         4         3      60              15.0
4         5         1      37              18.5
5         6         2      43              14.3
6         7         2      41              13.7
7         8         1      53              26.5
8         9         2      54              18.0
9        10         1      33              16.5
10       11         1      43              21.5
11       12         1      42              21.0
12       13         1      52              26.0
13       14         1      39              19.5
14       15         3      51              12.8
15       16         1      43              21.5
16       17         1      67              33.5
17       18         1      38              19.0
18       19         3      55              13.8
19       20         1      67              33.5
20       21         2      57              19.0
21       22         2      33              11.0
22       23         2      69              23.0
23       24         1      49              24.5
24       25         1      43              21.5
25       26         0      38              38.0
26       27         1      65              32.5
27       28         2      51              17.0
28       29         1      50              25.0
29       30         2      35              11.7
30       31         1      56              28.0
31       32         0      26              26.0
32       33         0      45              45.0
33       34         0      62              62.0
34       35         3      71              17.8
35       36         0      32              32.0
36       37         1      38              19.0
37       38         2      48              16.0
38       39         2      53              17.7
39       40         2      38              12.7
40       41         0      20              20.0
41       42         1      56              28.0
42       43         0      35              35.0

In [7]:
print('per number of total timeouts taken in a game -> avg of the average # of rallies between timeouts:')
df_avgunbrk = df_metrx[['timeouts','avg_rallies_noto']].groupby('timeouts').mean().round(1).reset_index(drop=False)
df_avgunbrk.columns = [['timeouts','avg^2_rallies_noto']]
df_avgunbrk

per number of total timeouts taken in a game -> avg of the average # of rallies between timeouts:

  timeouts avg^2_rallies_noto
0        0               36.9
1        1               23.9
2        2               15.8
3        3               14.6
4        4               12.6

In [8]:
print('to illustrate approach, choose longest game with exactly 2 timeouts taken:')
exgameid=list(df_metrx[df_metrx.timeouts == 2].sort_values('avg_rallies_noto',ascending=False)['game_id'])[0]
print(f'\t-game_id = #{exgameid}')

to illustrate approach, choose longest game with exactly 2 timeouts taken:
	-game_id = #23

In [9]:
print('check to see if both teams take a timeout for our chosen example game:')
df_exgame = df_rally[df_rally.game_id==exgameid]
if len(set(df_exgame[df_exgame.to_ind == 'Y'].to_team_id)) == 2:
    print('\t-Success')

check to see if both teams take a timeout for our chosen example game:
	-Success

In [10]:
print(df_exgame.reset_index(drop=True).to_string(index=False))

 match_id  game_id  rally_id  point_nbr srv_team_id rtrn_team_id w_team_id to_ind to_team_id    ending_type
       14       23      1064          1         T20          T21       T20      N        NaN Unforced Error
       14       23      1065          2         T20          T21       T21      N        NaN         Winner
       14       23      1066          3         T21          T20       T20      N        NaN          Other
       14       23      1067          4         T21          T20       T20      N        NaN Unforced Error
       14       23      1068          5         T20          T21       T21      N        NaN Unforced Error
       14       23      1069          6         T20          T21       T21      N        NaN         Winner
       14       23      1070          7         T21          T20       T21      N        NaN Unforced Error
       14       23      1071          8         T21          T20       T21      N        NaN Unforced Error
       14       23      1072          9         T21          T20       T21      N        NaN Unforced Error
       14       23      1073         10         T21          T20       T21      N        NaN         Winner
       14       23      1074         11         T21          T20       T21      N        NaN Unforced Error
       14       23      1075         12         T21          T20       NaN      Y        T20            NaN
       14       23      1076         13         T21          T20       T21      N        NaN Unforced Error
       14       23      1077         14         T21          T20       T20      N        NaN          Other
       14       23      1078         15         T21          T20       T20      N        NaN          Other
       14       23      1079         16         T20          T21       T21      N        NaN          Other
       14       23      1080         17         T20          T21       T20      N        NaN Unforced Error
       14       23      1081         18         T20          T21       T20      N        NaN         Winner
       14       23      1082         19         T20          T21       T20      N        NaN          Other
       14       23      1083         20         T20          T21       T21      N        NaN          Other
       14       23      1084         21         T21          T20       T20      N        NaN          Other
       14       23      1085         22         T21          T20       T21      N        NaN          Other
       14       23      1086         23         T21          T20       T21      N        NaN         Winner
       14       23      1087         24         T21          T20       T21      N        NaN          Other
       14       23      1088         25         T21          T20       T20      N        NaN Unforced Error
       14       23      1089         26         T20          T21       T20      N        NaN         Winner
       14       23      1090         27         T20          T21       T21      N        NaN         Winner
       14       23      1091         28         T20          T21       T21      N        NaN         Winner
       14       23      1092         29         T21          T20       T21      N        NaN         Winner
       14       23      1093         30         T21          T20       T21      N        NaN          Other
       14       23      1094         31         T21          T20       T20      N        NaN          Other
       14       23      1095         32         T21          T20       T20      N        NaN Unforced Error
       14       23      1096         33         T20          T21       T21      N        NaN         Winner
       14       23      1097         34         T20          T21       T20      N        NaN Unforced Error
       14       23      1098         35         T20          T21       T20      N        NaN          Other
       14       23      1099         36         T20          T21       T20      N        NaN          Other
       14       23      1100         37         T20          T21       T21      N        NaN          Other
       14       23      1101         38         T21          T20       T21      N        NaN          Other
       14       23      1102         39         T21          T20       T20      N        NaN         Winner
       14       23      1103         40         T21          T20       T20      N        NaN         Winner
       14       23      1104         41         T20          T21       T21      N        NaN          Other
       14       23      1105         42         T20          T21       T21      N        NaN          Other
       14       23      1106         43         T21          T20       T21      N        NaN         Winner
       14       23      1107         44         T21          T20       T20      N        NaN Unforced Error
       14       23      1108         45         T21          T20       T21      N        NaN         Winner
       14       23      1109         46         T21          T20       T20      N        NaN          Other
       14       23      1110         47         T20          T21       T21      N        NaN Unforced Error
       14       23      1111         48         T20          T21       T20      N        NaN          Other
       14       23      1112         49         T20          T21       T21      N        NaN Unforced Error
       14       23      1113         50         T21          T20       T21      N        NaN Unforced Error
       14       23      1114         51         T21          T20       T20      N        NaN          Other
       14       23      1115         52         T21          T20       T20      N        NaN Unforced Error
       14       23      1116         53         T20          T21       T20      N        NaN          Other
       14       23      1117         54         T20          T21       T21      N        NaN         Winner
       14       23      1118         55         T20          T21       T20      N        NaN          Other
       14       23      1119         56         T20          T21       T20      N        NaN          Other
       14       23      1120         57         T20          T21       T21      N        NaN Unforced Error
       14       23      1121         58         T21          T20       T20      N        NaN          Other
       14       23      1122         59         T21          T20       T20      N        NaN Unforced Error
       14       23      1123         60         T20          T21       T21      N        NaN          Other
       14       23      1124         61         T20          T21       T21      N        NaN Unforced Error
       14       23      1125         62         T21          T20       T21      N        NaN         Winner
       14       23      1126         63         T21          T20       T20      N        NaN         Winner
       14       23      1127         64         T21          T20       T20      N        NaN          Other
       14       23      1128         65         T20          T21       T21      N        NaN          Other
       14       23      1129         66         T20          T21       T21      N        NaN          Other
       14       23      1130         67         T21          T20       T21      N        NaN Unforced Error
       14       23      1131         68         T21          T20       NaN      Y        T21            NaN
       14       23      1132         69         T21          T20       T20      N        NaN          Other

In [11]:
df_exgame.to_csv('game23.csv')

In [12]:
print('previous timeout was at end of 20 min Tuesday Night Pickleball, lets try 4 timeouts:')
exgameid=list(df_metrx[df_metrx.timeouts == 4].sort_values('avg_rallies_noto',ascending=False)['game_id'])[0]
print(f'\t-game_id = #{exgameid}')

previous timeout was at end of 20 min Tuesday Night Pickleball, lets try 4 timeouts:
	-game_id = #1

In [13]:
print('check to see if both teams take a timeout for our chosen example game:')
df_exgame = df_rally[df_rally.game_id==exgameid]
if len(set(df_exgame[df_exgame.to_ind == 'Y'].to_team_id)) == 2:
    print('\t-Success')
else:
    print('\t-Fail')

check to see if both teams take a timeout for our chosen example game:
	-Success

In [14]:
print(df_exgame.reset_index(drop=True).to_string(index=False))

 match_id  game_id  rally_id  point_nbr srv_team_id rtrn_team_id w_team_id to_ind to_team_id    ending_type
        1        1         1          1          T1           T2        T2      N        NaN          Other
        1        1         2          2          T2           T1        T2      N        NaN         Winner
        1        1         3          3          T2           T1        T2      N        NaN Unforced Error
        1        1         4          4          T2           T1        T2      N        NaN Unforced Error
        1        1         5          5          T2           T1        T1      N        NaN          Other
        1        1         6          6          T2           T1        T1      N        NaN          Other
        1        1         7          7          T1           T2        T2      N        NaN          Other
        1        1         8          8          T1           T2        T2      N        NaN Unforced Error
        1        1         9          9          T2           T1        T2      N        NaN         Winner
        1        1        10         10          T2           T1        T1      N        NaN          Other
        1        1        11         11          T2           T1        T2      N        NaN          Other
        1        1        12         12          T2           T1        T1      N        NaN Unforced Error
        1        1        13         13          T1           T2        T2      N        NaN          Other
        1        1        14         14          T1           T2        T1      N        NaN          Other
        1        1        15         15          T1           T2        T2      N        NaN          Other
        1        1        16         16          T2           T1        T1      N        NaN          Other
        1        1        17         17          T2           T1        T1      N        NaN         Winner
        1        1        18         18          T1           T2        T2      N        NaN Unforced Error
        1        1        19         19          T1           T2        T2      N        NaN          Other
        1        1        20         20          T2           T1        T1      N        NaN          Other
        1        1        21         21          T2           T1        T2      N        NaN          Other
        1        1        22         22          T2           T1       NaN      Y         T1            NaN
        1        1        23         23          T2           T1        T1      N        NaN Unforced Error
        1        1        24         24          T1           T2        T2      N        NaN          Other
        1        1        25         25          T1           T2        T1      N        NaN          Other
        1        1        26         26          T1           T2        T2      N        NaN          Other
        1        1        27         27          T2           T1        T2      N        NaN         Winner
        1        1        28         28          T2           T1        T1      N        NaN          Other
        1        1        29         29          T2           T1        T1      N        NaN Unforced Error
        1        1        30         30          T1           T2        T1      N        NaN          Other
        1        1        31         31          T1           T2        T2      N        NaN Unforced Error
        1        1        32         32          T1           T2        T1      N        NaN         Winner
        1        1        33         33          T1           T2        T2      N        NaN Unforced Error
        1        1        34         34          T2           T1        T1      N        NaN Unforced Error
        1        1        35         35          T2           T1        T1      N        NaN Unforced Error
        1        1        36         36          T1           T2        T1      N        NaN          Other
        1        1        37         37          T1           T2       NaN      Y         T2            NaN
        1        1        38         38          T1           T2        T2      N        NaN Unforced Error
        1        1        39         39          T1           T2        T2      N        NaN Unforced Error
        1        1        40         40          T2           T1        T1      N        NaN Unforced Error
        1        1        41         41          T2           T1        T1      N        NaN         Winner
        1        1        42         42          T1           T2        T1      N        NaN          Other
        1        1        43         43          T1           T2        T1      N        NaN         Winner
        1        1        44         44          T1           T2        T2      N        NaN          Other
        1        1        45         45          T1           T2        T1      N        NaN          Other
        1        1        46         46          T1           T2        T2      N        NaN          Other
        1        1        47         47          T2           T1        T1      N        NaN          Other
        1        1        48         48          T2           T1        T1      N        NaN         Winner
        1        1        49         49          T1           T2        T1      N        NaN         Winner
        1        1        50         50          T1           T2       NaN      Y         T2            NaN
        1        1        51         51          T1           T2        T2      N        NaN Unforced Error
        1        1        52         52          T1           T2        T2      N        NaN          Other
        1        1        53         53          T2           T1        T1      N        NaN          Other
        1        1        54         54          T2           T1        T1      N        NaN Unforced Error
        1        1        55         55          T1           T2        T1      N        NaN          Other
        1        1        56         56          T1           T2        T2      N        NaN          Other
        1        1        57         57          T1           T2        T2      N        NaN Unforced Error
        1        1        58         58          T2           T1        T2      N        NaN         Winner
        1        1        59         59          T2           T1        T2      N        NaN         Winner
        1        1        60         60          T2           T1        T2      N        NaN Unforced Error
        1        1        61         61          T2           T1       NaN      Y         T1            NaN
        1        1        62         62          T2           T1        T2      N        NaN Unforced Error
        1        1        63         63          T2           T1        T2      N        NaN          Other

In [15]:
df_exgame.to_csv('game1.csv')

In [16]:
print('straight to game2:')
exgameid=2
print(f'\t-game_id = #{exgameid}')

straight to game2:
	-game_id = #2

In [17]:
print('check to see if both teams take a timeout for our chosen example game:')
df_exgame = df_rally[df_rally.game_id==exgameid]
if len(set(df_exgame[df_exgame.to_ind == 'Y'].to_team_id)) == 2:
    print('\t-Success')
else:
    print('\t-Fail')

check to see if both teams take a timeout for our chosen example game:
	-Success

In [18]:
df_exgame.to_csv(f'game{exgameid}.csv')